### Importing libraries

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

### Collecting data from URL

In [2]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/t20i'

In [3]:
r = requests.get(url).text
soup = BeautifulSoup(r,'lxml')
table = soup.find('table', attrs={'class':'table'})

In [4]:
teamlist=[]
for tr in table('tr'):
    for td in table('td'):
        teamlist.append(td.text.replace('\n',"").strip())
    break

In [5]:
teamlist

['1',
 'IndiaIND',
 '30',
 '8,093',
 '270',
 '2',
 'EnglandENG',
 '28',
 '7,432',
 '265',
 '3',
 'PakistanPAK',
 '30',
 '7,826',
 '261',
 '4',
 'South AfricaSA',
 '25',
 '6,336',
 '253',
 '5',
 'AustraliaAUS',
 '33',
 '8,270',
 '251',
 '6',
 'New ZealandNZ',
 '28',
 '6,996',
 '250',
 '7',
 'West IndiesWI',
 '36',
 '8,622',
 '240',
 '8',
 'BangladeshBAN',
 '33',
 '7,680',
 '233',
 '9',
 'Sri LankaSL',
 '33',
 '7,606',
 '230',
 '10',
 'AfghanistanAFG',
 '14',
 '3,167',
 '226',
 '11',
 'UAEUAE',
 '21',
 '4,030',
 '192',
 '12',
 'ZimbabweZIM',
 '28',
 '5,278',
 '189',
 '13',
 'NepalNEP',
 '25',
 '4,624',
 '185',
 '14',
 'IrelandIRE',
 '35',
 '6,439',
 '184',
 '15',
 'NamibiaNAM',
 '29',
 '5,321',
 '183',
 '16',
 'ScotlandSCO',
 '19',
 '3,475',
 '183',
 '17',
 'OmanOMA',
 '19',
 '3,238',
 '170',
 '18',
 'NetherlandsNED',
 '17',
 '2,841',
 '167',
 '19',
 'Papua New GuineaPNG',
 '17',
 '2,575',
 '151',
 '20',
 'SingaporeSIN',
 '8',
 '1,194',
 '149',
 '21',
 'CanadaCAN',
 '17',
 '2,176',
 '128',
 '22',
 'JerseyJSY',
 '15',
 '1,914',
 '128',
 '23',
 'QatarQAT',
 '13',
 '1,643',
 '126',
 '24',
 'Hong KongHK',
 '10',
 '1,155',
 '116',
 '25',
 'UgandaUGA',
 '26',
 '2,952',
 '114',
 '26',
 'United StatesUSA',
 '11',
 '1,225',
 '111',
 '27',
 'BahrainBRN',
 '11',
 '1,153',
 '105',
 '28',
 'KuwaitKUW',
 '10',
 '1,044',
 '104',
 '29',
 'ItalyITA',
 '10',
 '1,015',
 '102',
 '30',
 'KenyaKEN',
 '17',
 '1,694',
 '100',
 '31',
 'MalaysiaMAS',
 '18',
 '1,716',
 '95',
 '32',
 'Saudi ArabiaSDA',
 '6',
 '562',
 '94',
 '33',
 'TanzaniaTAN',
 '10',
 '895',
 '90',
 '34',
 'BermudaBRM',
 '12',
 '1,053',
 '88',
 '35',
 'GermanyGER',
 '25',
 '2,124',
 '85',
 '36',
 'SpainESP',
 '12',
 '1,006',
 '84',
 '37',
 'RomaniaROM',
 '13',
 '956',
 '74',
 '38',
 'GuernseyGSY',
 '9',
 '653',
 '73',
 '39',
 'DenmarkDEN',
 '13',
 '901',
 '69',
 '40',
 'Cayman IslandsCAY',
 '8',
 '529',
 '66',
 '41',
 'NigeriaNGR',
 '23',
 '1,482',
 '64',
 '42',
 'BotswanaBOT',
 '8',
 '502',
 '63',
 '43',
 'BelgiumBEL',
 '12',
 '670',
 '56',
 '44',
 'VanuatuVAN',
 '5',
 '270',
 '54',
 '45',
 'PortugalPOR',
 '6',
 '322',
 '54',
 '46',
 'SwedenSWE',
 '7',
 '373',
 '53',
 '47',
 'AustriaAUT',
 '10',
 '528',
 '53',
 '48',
 'NorwayNOR',
 '12',
 '632',
 '53',
 '49',
 'ArgentinaARG',
 '9',
 '435',
 '48',
 '50',
 'MalawiMAW',
 '9',
 '408',
 '45',
 '51',
 'GhanaGHA',
 '13',
 '541',
 '42',
 '52',
 'FinlandFIN',
 '7',
 '287',
 '41',
 '53',
 'LuxembourgLUX',
 '12',
 '481',
 '40',
 '54',
 'Sierra LeoneSRL',
 '10',
 '331',
 '33',
 '55',
 'MaltaMLT',
 '20',
 '610',
 '31',
 '56',
 'Czech RepublicCZE',
 '13',
 '342',
 '26',
 '57',
 'CyprusCYP',
 '6',
 '154',
 '26',
 '58',
 'BahamasBAH',
 '11',
 '260',
 '24',
 '59',
 'BelizeBIZ',
 '6',
 '132',
 '22',
 '60',
 'PanamaPAN',
 '6',
 '125',
 '21',
 '61',
 'RwandaRWA',
 '11',
 '206',
 '19',
 '62',
 'GreeceGRE',
 '5',
 '86',
 '17',
 '63',
 'ThailandTHA',
 '4',
 '59',
 '15',
 '64',
 'BulgariaBUL',
 '16',
 '167',
 '10',
 '65',
 'SeychellesSEY',
 '6',
 '54',
 '9',
 '66',
 'MaldivesMDV',
 '9',
 '51',
 '6',
 '67',
 'MozambiqueMOZ',
 '7',
 '38',
 '5',
 '68',
 'GibraltarGIB',
 '11',
 '25',
 '2',
 '69',
 'EstoniaEST',
 '6',
 '0',
 '0',
 '70',
 'SerbiaSER',
 '5',
 '0',
 '0',
 '71',
 'LesothoLES',
 '6',
 '0',
 '0',
 '72',
 'EswatiniSWA',
 '6',
 '0',
 '0']

### Reshaping

In [6]:
array = np.array(teamlist)

In [7]:
reshaped = array.reshape((72,5))

In [8]:
reshaped

array([['1', 'IndiaIND', '30', '8,093', '270'],
       ['2', 'EnglandENG', '28', '7,432', '265'],
       ['3', 'PakistanPAK', '30', '7,826', '261'],
       ['4', 'South AfricaSA', '25', '6,336', '253'],
       ['5', 'AustraliaAUS', '33', '8,270', '251'],
       ['6', 'New ZealandNZ', '28', '6,996', '250'],
       ['7', 'West IndiesWI', '36', '8,622', '240'],
       ['8', 'BangladeshBAN', '33', '7,680', '233'],
       ['9', 'Sri LankaSL', '33', '7,606', '230'],
       ['10', 'AfghanistanAFG', '14', '3,167', '226'],
       ['11', 'UAEUAE', '21', '4,030', '192'],
       ['12', 'ZimbabweZIM', '28', '5,278', '189'],
       ['13', 'NepalNEP', '25', '4,624', '185'],
       ['14', 'IrelandIRE', '35', '6,439', '184'],
       ['15', 'NamibiaNAM', '29', '5,321', '183'],
       ['16', 'ScotlandSCO', '19', '3,475', '183'],
       ['17', 'OmanOMA', '19', '3,238', '170'],
       ['18', 'NetherlandsNED', '17', '2,841', '167'],
       ['19', 'Papua New GuineaPNG', '17', '2,575', '151'],
       ['20', 'SingaporeSIN', '8', '1,194', '149'],
       ['21', 'CanadaCAN', '17', '2,176', '128'],
       ['22', 'JerseyJSY', '15', '1,914', '128'],
       ['23', 'QatarQAT', '13', '1,643', '126'],
       ['24', 'Hong KongHK', '10', '1,155', '116'],
       ['25', 'UgandaUGA', '26', '2,952', '114'],
       ['26', 'United StatesUSA', '11', '1,225', '111'],
       ['27', 'BahrainBRN', '11', '1,153', '105'],
       ['28', 'KuwaitKUW', '10', '1,044', '104'],
       ['29', 'ItalyITA', '10', '1,015', '102'],
       ['30', 'KenyaKEN', '17', '1,694', '100'],
       ['31', 'MalaysiaMAS', '18', '1,716', '95'],
       ['32', 'Saudi ArabiaSDA', '6', '562', '94'],
       ['33', 'TanzaniaTAN', '10', '895', '90'],
       ['34', 'BermudaBRM', '12', '1,053', '88'],
       ['35', 'GermanyGER', '25', '2,124', '85'],
       ['36', 'SpainESP', '12', '1,006', '84'],
       ['37', 'RomaniaROM', '13', '956', '74'],
       ['38', 'GuernseyGSY', '9', '653', '73'],
       ['39', 'DenmarkDEN', '13', '901', '69'],
       ['40', 'Cayman IslandsCAY', '8', '529', '66'],
       ['41', 'NigeriaNGR', '23', '1,482', '64'],
       ['42', 'BotswanaBOT', '8', '502', '63'],
       ['43', 'BelgiumBEL', '12', '670', '56'],
       ['44', 'VanuatuVAN', '5', '270', '54'],
       ['45', 'PortugalPOR', '6', '322', '54'],
       ['46', 'SwedenSWE', '7', '373', '53'],
       ['47', 'AustriaAUT', '10', '528', '53'],
       ['48', 'NorwayNOR', '12', '632', '53'],
       ['49', 'ArgentinaARG', '9', '435', '48'],
       ['50', 'MalawiMAW', '9', '408', '45'],
       ['51', 'GhanaGHA', '13', '541', '42'],
       ['52', 'FinlandFIN', '7', '287', '41'],
       ['53', 'LuxembourgLUX', '12', '481', '40'],
       ['54', 'Sierra LeoneSRL', '10', '331', '33'],
       ['55', 'MaltaMLT', '20', '610', '31'],
       ['56', 'Czech RepublicCZE', '13', '342', '26'],
       ['57', 'CyprusCYP', '6', '154', '26'],
       ['58', 'BahamasBAH', '11', '260', '24'],
       ['59', 'BelizeBIZ', '6', '132', '22'],
       ['60', 'PanamaPAN', '6', '125', '21'],
       ['61', 'RwandaRWA', '11', '206', '19'],
       ['62', 'GreeceGRE', '5', '86', '17'],
       ['63', 'ThailandTHA', '4', '59', '15'],
       ['64', 'BulgariaBUL', '16', '167', '10'],
       ['65', 'SeychellesSEY', '6', '54', '9'],
       ['66', 'MaldivesMDV', '9', '51', '6'],
       ['67', 'MozambiqueMOZ', '7', '38', '5'],
       ['68', 'GibraltarGIB', '11', '25', '2'],
       ['69', 'EstoniaEST', '6', '0', '0'],
       ['70', 'SerbiaSER', '5', '0', '0'],
       ['71', 'LesothoLES', '6', '0', '0'],
       ['72', 'EswatiniSWA', '6', '0', '0']], dtype='<U19')

### Converting to Dataframe

In [9]:
df = pd.DataFrame(reshaped, columns =['POS','TEAM','MATCHES','POINTS','RATING'])

In [12]:
df.head()

  POS            TEAM MATCHES POINTS RATING
0   1        IndiaIND      30  8,093    270
1   2      EnglandENG      28  7,432    265
2   3     PakistanPAK      30  7,826    261
3   4  South AfricaSA      25  6,336    253
4   5    AustraliaAUS      33  8,270    251

In [13]:
df.to_csv("T20I rankings.csv")