### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import tweepy

In [2]:
# Credentials from twitter developer account
my_api_key = "XPQlwoRSi87mh2B2bJQWUGrU4"
my_api_secret = "hpfz5yW1ZGD9lcAZ8QcwzRUiGrPYOr33Yoq6uWEmr4voKdY20j"
my_access_token = "3612226573-A402LeH2Ij3hyIhXMfaKFtzor3LmCZbKhWh3s1a"
my_access_token_secret = "8vyTctnFNUdlzO7P8yJFU3zkAliepxcOPx1GtKiYeCfnf"

In [3]:
# Authentication handler with tweepy
auth = tweepy.OAuthHandler(my_api_key, my_api_secret)

# Setting access tokens to the handler
auth.set_access_token(my_access_token, my_access_token_secret)

# Defining the api
api = tweepy.API(auth)

# For trends in India we have to get where on earth id(woeid)
woeid = 23424848

### Get twitter Trends By WOEID

In [4]:
def get_trends_by_location(loc_id):
    '''Get Trending Tweets by Location'''
    
    try:
        trends = api.get_place_trends(loc_id)
        df = pd.DataFrame([trending['name'],  trending['tweet_volume']] for trending in trends[0]['trends'])
        df.columns = ['Trends','Volume'] 
        return df
    except Exception as e:
        print("An exception occurred",e)
        
        
df = get_trends_by_location(23424848)
df

                          Trends     Volume
0                  #KKPassesAway        NaN
1           #TriumphantTelangana    34597.0
2                  #BoyapatiRAPO        NaN
3                         #RIPKK    97122.0
4                      #KKsinger    10248.0
5   Countdown Begins In SSR Case    25095.0
6                    Happy Pride   348289.0
7                     liam payne    70771.0
8                      Om Shanti    60062.0
9                      राम मंदिर    18025.0
10         Justice Still Awaited    93465.0
11                      jungkook  1169852.0
12                 Anyay Kab Tak    94320.0
13                        Rs 135        NaN
14                 Emraan Hashmi        NaN
15                       Rajghat        NaN
16                    Logan Paul    19677.0
17               Modi Government        NaN
18        Ease of Doing Business        NaN
19                     श्री गणेश    25965.0
20                   Tadap Tadap        NaN
21                   BTS BTS BTS  2441800.0
22                        Yaaron        NaN
23      Kal Yaad Aayenge Yeh Pal        NaN
24       Hum Rahe Ya Na Rahe Kal        NaN
25            Hindus and Muslims    27155.0
26                  Akshay Kumar    11506.0
27                 Nazrul Mancha        NaN
28                        KK Sir    18479.0
29                       rip sir        NaN
30                        Not KK    22790.0
31                   Khuda Jaane        NaN
32                        Alvida        NaN
33      #2DaysToSamratPrithviraj        NaN
34       #Teachings_Of_LordKabir   827800.0
35                       #KKLIVE        NaN
36                    #KKforever        NaN
37                 #WorldMilkDay    40087.0
38                 #8YearsOfEODB    20359.0
39           #सबके_राम_सबके_योगी    18599.0
40                #ITisTelangana    16196.0
41                    #RIPLegend        NaN
42                      #Ayodhya        NaN
43          #KrishnakumarKunnath    11903.0
44             #wednesdaythought        NaN
45           #GlobalDayofParents        NaN
46                    #RamMandir        NaN
47                       #Suriya    18725.0
48                   #parentsday        NaN
49        #HappyBirthdayMadhavan        NaN

In [5]:
df.to_csv("India Dataset.csv")

In [6]:
ds = pd.read_csv("India Dataset.csv")
ds.head()

   Unnamed: 0                Trends   Volume
0           0         #KKPassesAway      NaN
1           1  #TriumphantTelangana  34597.0
2           2         #BoyapatiRAPO      NaN
3           3                #RIPKK  97122.0
4           4             #KKsinger  10248.0

In [7]:
ds.shape

(50, 3)